@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto+Condensed&family=Roboto&display=swap');

html, body{
    margin:0;
    padding:0;
    min-width: 1140px;
}

.first
{
    background-color: #e0e5eb;
    display: block;
    border-bottom: 50px solid;
    border-color: #e0e5eb;
}

.first-inner
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

.first-inner img
{
    width:75%;
    height:525px;
    margin-top: 50px;
}

.first-inner-content
{
    margin-top: 85px;
    margin-left: 20px;
}

.first-inner-content h3
{
    font-family: Roboto,sans-serif;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 0 20px 0 0;
    font-size: 1.5rem;
    letter-spacing: 8px;
    word-spacing: 10px;
}

.first-inner-content h1
{
    font-family: Oswald, sans-serif;
    font-size: 4rem;
    margin:20px 0 0;
    color: #ed7218;
    line-height: 1.1;
    word-spacing: 10px;
    letter-spacing: 5px;

}

.first-inner-content p
{
    margin: 20px 20px 0 0;
    font-style: italic;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
}

.first-inner-content button
{
    color: white;
    background-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 700;
    margin: 30px auto 0 0;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.first-inner-more
{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
}

.first-inner-more-analysis
{
    background-color: #ed7218;
    width: 25%;
    text-align: center;
}

.first-inner-more-planning
{
    background-color: #f48024;
    width: 25%;
    text-align: center;
}

.first-inner-more-design
{
    background-color: #f9ac44;
    width: 25%;
    text-align: center;
}

.circle
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.circle img
{
    width: 50px;
    height: 50px;
    filter: invert(53%) sepia(61%) saturate(1193%) hue-rotate(347deg) brightness(101%) contrast(91%);
}

.first-inner-more h2
{
    font-weight: 300;
    font-size: 2.25rem;
    margin: 30px 2px 0;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.1;
    color: #fff;
}

.first-inner-more p
{
    font-style: italic;
    margin: 30px 25px 0;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.first-inner-more button
{
    color: #000;
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 500;
    margin: 30px auto 40px 0;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.second
{
    width: 87%;
    border-bottom: 50px solid;
    border-color: #f48024;
    background: linear-gradient(to bottom, #fff 0%, #fff 60%, #f48024 60%, #f48024 100%);
}

.second .content
{
    width: 60%;
    margin-right: calc(((100% - 940px) / 2) + 342px);
    margin-left: calc(((100% - 940px) / 2));
}

.second .content h1
{
    font-family: Oswald, sans-serif;
    font-size: 6rem;
    line-height: 1;
    margin-top: 50px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 50px;
}

.second .content b
{
    color: #ed7218;
    font-weight: 900;
}

.second .content p
{
    font-family: 'Open Sans',sans-serif;
    margin-top: -30px;
}

.second .content .images
{
    display: flex;
    justify-content: left;
    margin-top: 50px;
}

.second .content .images img
{
    width: 375px;
    height: 375px;
    border-right: 20px solid;
    border-color: rgba(0,0,0,0)
}

.third
{
    background-color: #e0e5eb; 
    border-top: 50px solid;
    border-bottom: 50px solid;
    border-color: #e0e5eb;
}

.third .content
{
    width: 74%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.third .content .left
{
    width: 50%;
    border-right: 90px solid;
    border-color: rgba(0,0,0,0)
}

.third .content .left h3
{
    font-family: Roboto,sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ed7218;
    line-height: 1;
}

.third .content .left h1
{
    font-family: Oswald, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1;
    margin-top: 10px;
    line-height: 4.5rem;
}

.third .content .left hr
{
    border: 5px solid;
    border-color: #ed7218;
    background-color: #ed7218;
    width: 20%;
    margin-top: -25px;
}

.third .content .left p
{
    font-family: 'Open Sans',sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    margin: 30px 0 0;
    color: #808080;
    line-height: 1.6;
}

.third .content .right
{
    width: 50%;
}

.third .content .right p
{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.third .content .right button
{
    color: white;
    background-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 500;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.fourth
{
    width:100%;
    background-color:#fff;
}

.fourth .content
{
    width: 60%;
    margin: 70px auto 0 calc(((100% - 1140px) / 2));
}

.fourth .content h1
{
    font-family: Oswald, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    color: #ed7218;
    letter-spacing: 2px;
}

.fourth .content p
{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: -30px;
}

.fourth .shape
{
    width: 75%;
    height: 400px;
    background-color: #f48024;
    margin-left: 25%;
    margin-top: -1500px;
}

.fourth .parent 
{
    width: 60%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.fourth .parent .div1 
{ 
    grid-area: 1 / 1 / 2 / 2; 
    width:400px;
    height:300px;
    border: 15px solid;
    border-color: rgba(0,0,0,0);
}
.fourth .parent .div1 img
{
    width:400px;
    height:300px;
}

.fourth .parent .div2 
{ 
    grid-area: 1 / 2 / 2 / 3; 
    width:400px;
    height:300px;
    border: 15px solid;
    border-color: rgba(0,0,0,0);
}
.fourth .parent .div2 img
{
    width:400px;
    height:300px;
}

.fourth .parent .div3 
{ 
    grid-area: 1 / 3 / 2 / 4; 
    width:400px;
    height:300px;
    border: 15px solid;
    border-color: rgba(0,0,0,0);
}
.fourth .parent .div3 img
{
    width:400px;
    height:300px;
}

.fourth .parent .div4 
{ 
    grid-area: 2 / 1 / 3 / 2; 
    width:400px;
    height:300px;
    border: 15px solid;
    border-color: rgba(0,0,0,0);
}
.fourth .parent .div4 img
{
    width:400px;
    height:300px;
}

.fourth .parent .div5 
{ 
    grid-area: 3 / 1 / 4 / 2; 
    width:400px;
    height:300px;
    border: 15px solid;
    border-color: rgba(0,0,0,0);
}
.fourth .parent .div5 img
{
    width:400px;
    height:300px;
}

.fourth .parent .div6 
{ 
    grid-area: 2 / 2 / 4 / 4; 
    width:830px;
    height:630px;
    border-top: 15px solid;
    border-left: 15px solid;
    border-color: rgba(0,0,0,0);
}
.fourth .parent .div6 img
{
    width:830px;
    height:630px;
}

.fifth
{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to bottom, #e0e5eb 0%, #e0e5eb 60%, #f48024 60%, #f48024 100%);
    margin-top: 500px;
    display: flex;
    border-bottom: 50px solid;
    border-color: #f48024;
}

.fifth .img1
{
    margin-top: 150px;
    margin-left: 20%;
}

.fifth .img2
{
    margin-left: -35%;
    margin-top: 70px;
}

.fifth .content
{
    background-color: white;
    padding: 30px;
    margin-left: -35%;
    margin-top: 400px;
    width: 600px;
}

.fifth .content h1
{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ed7218;
    margin-top:10px;
}

.fifth .content p
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.fifth .content button
{
    color: white;
    background-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 500;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.sixth
{
    width:40%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Open Sans',sans-serif;
    line-height: 1.6;
}

.sixth button
{
    color: white;
    background-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 500;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.seventh
{
    background-color: #f48024;
}

.seventh .inner
{
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}

.seventh .inner .top
{
    display: flex;
    justify-content: center;
    border-top: 75px solid;
    border-color: #f48024;
}

.seventh .inner .top h1
{
    border-right: 50px solid;
    border-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 900;
    margin-top: 75px;
    color: white;
}

.seventh .inner .top img
{
    width: 550px;
    height: auto;
}

.seventh .inner .middle
{
    width: 70%;
    height: 500px;
    margin-top: -50px;
}

.seventh .inner .circle
{
    width: 150px;
    height: 150px;
    border: 40px solid;
    border-radius: 50%;
    border-color: #fff;
    background-color: rgba(0,0,0,0);
    margin-left: 40px;
    margin-top: -120px;
    position: relative;
}

.seventh .inner .content
{
    background-color: #fff;
    width: 40%;
    padding: 30px;
    margin-left: 50%;
    margin-top: -300px;
    position: relative;
    border-bottom: 50px solid;
    border-color: #f48024;
}

.seventh .inner .content h1
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

.seventh .inner .content p
{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.seventh .inner .content button
{
    color: white;
    background-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 700;
    margin: 30px auto 0 0;
    padding: 15px 30px;
    font-size: 1.1rem;
}

.eight
{
    background-color: #292d33;
    width: 100%;
    height: auto;
    border-top: 50px solid;
    border-bottom: 50px solid;
    border-color: #292d33;
}

.eight h1
{
    font-family: Oswald, sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.1;
    color: #f48024;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}

.eight h3
{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: Roboto,sans-serif;
    color: #fff;
    text-align: center;
}

.eight .shape
{
    width: 70%;
    height: 400px;
    background-color: #f48024;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.eight .content
{
    width:60%;
    background-color: #fff;
    margin-left: 18%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -430px;
    display: flex;
    position: absolute;
}

.eight .content .left
{
    width: 50%;
    padding-top: 1px;
}

.eight .content .left .circle
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f48024;
    margin-left: 0px;
}

.eight .content .left .circle img
{
    width: 25px;
    height: 25px;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(56deg) brightness(114%) contrast(101%);
}

.eight .content .left p
{
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 700;
}

.eight .content .right
{
    margin-top: 50px;
    width: 50%;
}

.eight .content .right .text
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.eight .content .right textarea
{
    width: 100%;
    height:150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.eight .content .right button
{
    color: white;
    background-color: #f48024;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 3px;
    border-style: none;
    font-weight: 500;
    margin: 8px auto 0 0;
    padding: 12px 20px;
    font-size: 1.1rem;
}
